* {
    margin: 0;
    padding: 0;
    /* width: 100%; */

}

header {
    background-color: #000000;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

::-webkit-scrollbar {
    width: 5px;
    /* Espessura da barra */
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #c9302c;
    /* Cor da alça */
    border-radius: 12px;
    /* Arredondamento da alça */
}



.left {
    width: 70%;
    height: 80px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.right {
    width: 20%;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10%;

}



#login {
    color: #F6F6F6;
    background-color: transparent;
    border: 2px solid #A61211;
    width: 8%;
    padding: 12px;
    text-align: center;
    /* Alinhar texto ao centro */
    text-decoration: none;
    /* Remover sublinhado padrão */
    display: inline-block;
    /* Exibir como um bloco em linha */
    font-size: 16px;
    /* Tamanho da fonte */
    border-radius: 10px;
    /* Arredondar os cantos */

}

#login:hover {
    transition: 0.5s ease;
    background-image: linear-gradient(to right, transparent 0%, #A61211 100%);
}

#cadastro {
    color: #F6F6F6;
    background-color: transparent;
    margin: 2%;
    border: 3px solid #A61211;
    width: 15%;
    padding: 12px;
    text-align: center;
    /* Alinhar texto ao centro */
    text-decoration: none;
    /* Remover sublinhado padrão */
    display: inline-block;
    /* Exibir como um bloco em linha */
    font-size: 16px;
    /* Tamanho da fonte */
    border-radius: 10px;
    /* Arredondar os cantos */


}

#cadastro:hover {
    transition: 0.5s ease;
    background-image: linear-gradient(to right, transparent 0%, #A61211 100%);
}

#iconperfil {
    height: 45px;
    width: 45px;
}

#logo {
    width: 250px;
}

#imglogo {
    width: 100%;
}

#linkheader {
    text-decoration: none;
    margin: 10px;
    color: #F6F6F6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    transition: width 0.8s ease;
}

#linkheader:hover {
    text-decoration: underline 4px #c9302c;
}

.fundo-escuro {
    position: relative;
}

/* .fundo-escuro::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
} */

.fundo-escuro {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100vh;


}

h1 {
    color: #ffffff;
    padding: 15px;
    border: 5px solid #c9302c;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#imgfundo {
    width: 100%;
    height: 100vh;
    filter: brightness(0.1);
}

.posicionamento {
    position: absolute;
    top: 15%; /* Ajuste a distância do topo da página */
    left: 34%;
    right: 34%;
    width: 100%;
    z-index: 1; /* Garanta que o elemento de posicionamento fique sobre a imagem */
    
  }

/* ----------- LOGIN ---------------*/
.containerform {
    background: transparent;
    backdrop-filter: blur(70px);
    border: 3px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#F6F6F6 ;
    z-index: 1;
    width: 400px;
    height: 450px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

form {
    color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(70px);
    /* border: 3px solid rgba(255, 255, 255, 0.5); */
    border-radius: 10px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    background-color: #c9302c; /* Vermelho */
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d9534f; /* Vermelho escuro */
}

/* .fundo-img {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url('/img/loja.jpg');

  background-position: center;
  background-size: cover;
  transition: 2S;
  margin-bottom: 10%;
} */

.fundo-img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/loja.jpg');
    background-position: center;
    background-size: cover;
    transition: 2S;
    z-index: -1; /* Posicione o pseudo-elemento atrás dos outros elementos */
    filter: brightness(0.4); /* Aplique o brilho apenas no pseudo-elemento */
  }