* {
    margin: 0;
    padding: 0;
    width: 100%;

}

header {
    background-color: #000000;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;

}

::-webkit-scrollbar {
    width: 5px; /* Espessura da barra */
    background-color: #000000;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #c9302c; /* Cor da alça */
    border-radius: 12px; /* Arredondamento da alça */
  }
  


.left {
    width: 50% ;
    height: 80px;
    display: flex;
    align-items: center;
}

.right {
    width: 40% ;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}



#login {
  color: #F6F6F6;
  background-color: transparent; 
  border: 2px solid #A61211;
  width: 8%;
  padding: 12px;
  text-align: center; /* Alinhar texto ao centro */
  text-decoration: none; /* Remover sublinhado padrão */
  display: inline-block; /* Exibir como um bloco em linha */
  font-size: 16px; /* Tamanho da fonte */
  border-radius: 10px; /* Arredondar os cantos */

}

#login:hover {
    transition: 0.5s ease;
    background-image: linear-gradient(to right, transparent 0%, #A61211 100%);
}

#cadastro {
  color: #F6F6F6;
  background-color: transparent; 
  margin: 2%;
  border: 3px solid #A61211;
  width: 15%;
  padding: 12px;
  text-align: center; /* Alinhar texto ao centro */
  text-decoration: none; /* Remover sublinhado padrão */
  display: inline-block; /* Exibir como um bloco em linha */
  font-size: 16px; /* Tamanho da fonte */
  border-radius: 10px; /* Arredondar os cantos */


}

#cadastro:hover {
    transition: 0.5s ease;
    background-image: linear-gradient(to right, transparent 0%, #A61211 100%);
}

#iconperfil {
    height: 45px;
    width: 45px;
}

#logo {
    width: 1300px;
}

#imglogo {
    width: 100%;
}

#linkheader {
    text-decoration: none;
    margin: 10px;
    color: #F6F6F6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    transition: width 0.8s ease;
}

#linkheader:hover{
    text-decoration: underline 4px #c9302c;  
}

.fundo-escuro {
    position: relative;
}
  
.fundo-escuro::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.fundo-escuro {
    filter: brightness(0.7); /* Ajustar valor entre 0 e 1 para o nível de escuridão desejado */
  }
  
#imgfundo {
    width: 100%;
    height: 100vh;
}

