/* ----------- LOGIN ---------------*/

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerform {
    background: transparent;
    backdrop-filter: blur(70px);
    border: 3px solid rgba(255, 255, 255, 0.5);
    display: flex;
   /*  justify-content: center;
    align-items: center; */
    flex-direction: column;
    color:#F6F6F6 ;
    z-index: 1;
    width: 400px;
    /* height: 450px; */
    margin: 50px auto;
    /* padding: 30px; */
    padding-bottom: 3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

form {
    color: #F6F6F6;
    display: flex;
    flex-direction: column;
   /*  justify-content: space-between; */
    align-items: center;
    background: transparent;
    backdrop-filter: blur(70px);
    /* border: 3px solid rgba(255, 255, 255, 0.5); */
    border-radius: 10px;
/*     height: 100%;
 */}

.input-group {
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 60%;
    max-width: 60%;
    
}

#esqueceusenha {
    font-weight: bold;
    font-size: 13px;
    margin-top: 10px;
    color:#F6F6F6;
    transition: 0.8s;
}

#esqueceusenha:hover {
    transition: 0.5s;
    color:#c9302c;
}

#naotemconta {
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    color:#F6F6F6;
    transition: 0.8s;
}

#Cadastre-se {
    color: #c9302c;
}

#Cadastre-se:hover {
    color: #ff0800;
}

label {
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    background-color: #c9302c; /* Vermelho */
    color: #fff;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    margin-bottom: 20px;
}

button:hover {
    background-color:red; /* Vermelho escuro */
}




.fundo-img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/loja.jpg');
    background-position: center;
    background-size: cover;
    transition: 2S;
    z-index: -1; /* Posicione o pseudo-elemento atrás dos outros elementos */
    filter: brightness(0.4); /* Aplique o brilho apenas no pseudo-elemento */
  }


.imglogo{
    width: 115%;
}

#imglogo {
    margin-bottom: 20px ;
    width: 100%;
    
    
}